APP_NAME=Soul-of-Wind
APP_ENV=local
APP_KEY=base64:hh+JP8LdO2O/1a+KJFdFbHhTt4cuEnAEFZXGDqsQUqQ=
APP_DEBUG=true
APP_URL=localhost

DB_PORT=3306
DB_DATABASE=api_database
DB_USERNAME=root
DB_PASSWORD=rewrite

# Docker
APP_CONTAINER_NAME=SOW-container
APP_IMAGE_NAME=soul-of-wind
DB_CONTAINER_NAME=SOW-db
NODE_CONTAINER_NAME=SOW-node
NGINX_CONTAINER_NAME=SOW-nginx