body, html 
{
    height: 100%;
}
  
.falling-leaves 
{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.leaf-scene 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
    z-index: 1;
    div 
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg) no-repeat;
    background-size: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
    }
}