body 
{
    margin: 0;
}
.main-containers
{
    position: absolute;
    display: block;
    width: 40%;
    height: 50%;
    transform: translate(-5%, -50%);
    animation: Fade-In ease-in 5s;
    border-radius: 5px;
    background: linear-gradient(to bottom, #202020, #111119);
    background-position: center;
    background-size: cover;
    border: 1px solid #4e4c4c;
    cursor: pointer;
}
.sow 
{
    left: 9%;
    top: 50%;
    background-image: url();
}
.wsm
{

    left: 55%;
    top: 50%;
    background-image: url();
}

/* Cursor styles */
:root 
{
    --mouse-x: 50%;
    --mouse-y: 50%;
}
  
.mask 
{
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%, 0.9);
    mask: radial-gradient( circle at var(--mouse-x) var(--mouse-y), transparent 40px,black 150px);
    -webkit-mask: radial-gradient( circle at var(--mouse-x) var(--mouse-y), transparent 40px,black 400px);
}