body 
{
    margin: 0;
}
.main-containers
{
    position: absolute;
    display: block;
    width: 30%;
    height: 40%;
    transform: translate(-5%, -50%);
    animation: Fade-In ease-in 5s;
    border-radius: 5px;
    background: linear-gradient(to bottom, #202020, #111119);
    background-position: center;
    background-size: cover;
    border: 0.5px solid #4e4c4c;
    cursor: pointer;
}
.title-sow, .title-wsm 
{
    position: relative;
    width: 80%;
    height: 30px;
    font-size: 16px;
    color:aliceblue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}
.sow 
{
    left: 9%;
    top: 50%;
    background-image: url();
}
.wsm
{

    left: 55%;
    top: 50%;
    background-image: url();
}
.hidden-sow, .hidden-wsm
{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%);
    font-family: system-ui;
}
.hidden-title
{
    position: relative;
    width: 80%;
    height: 30px;
    font-size: 17px;
    left: 50%;
    transform: translate(-50%);
    animation: FadeIn ease-in 1s;
    text-align: center;
    color: aliceblue;
}
.hidden-links, .hidden-redirect
{
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    color: aliceblue;
    cursor: pointer;
    z-index: 1;
    border: none;
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.766), rgba(133, 18, 7, 0.923));
    animation: Slideright ease-in 1.2s;
    opacity: 1;
    left: 50%;
    transform: translate(-50%);
    top: 45%;
}
.hidden-description
{
    position: relative;
    width: 80%;
    height: 20px;
    font-size: 13px;
    left: 50%;
    transform: translate(-50%);
    animation: FadeIn ease-in 1.2s;
    text-align: center;
    opacity: 1;
    margin-top: 30px;
    color: aliceblue;
}

@keyframes Slideup 
{
    from { top: 15%; opacity: 0; }
    to { top: 0%; opacity: 1;}
}
@keyframes Slideright 
{
    from { right: 15%; opacity: 0; }
    to { right: 0%; opacity: 1;}
}

/* Cursor styles */
:root 
{
    --mouse-x: 50%;
    --mouse-y: 50%;
}
  
.mask 
{
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%, 0.9);
    mask: radial-gradient( circle at var(--mouse-x) var(--mouse-y), transparent 40px,black 300px);
}