body 
{
    margin: 0;
}
.main-containers
{
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    transform: translate(0%, -50%);
    animation: Fade-In ease-in 5s;
    border-radius: 5px;
    background: linear-gradient(to bottom, #202020, #111119);
    background-position: center;
    background-size: cover;
    border: 0.5px solid #4e4c4c;
    cursor: pointer;
    animation: FadeIn ease-in 1s;
}
.redirect-title 
{
    position: absolute;
    display: none;
    border-bottom: 1px solid white;
    font-family: system-ui;
    font-size: 30px;
    padding: 5px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
    color: white;
    animation: FadeIn ease-in 1s;
}
.title-sow, .title-wsm 
{
    position: relative;
    display: none;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 20px;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    color: white;
    border-bottom: 1px solid white;
    animation: FadeIn ease-in 1s;
}
.sow 
{
    left: 0%;
    top: 50%;
    background-image: url(../media/backgrounds/SoulofWind.jpg);
    z-index: 5;
}
.wsm
{
    left: 50%;
    top: 50%;
    background-image: url(../media/backgrounds/WindSoulMelody.jpg);
    z-index: 5;
}
.hidden-wsm, .hidden-sow
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient( to bottom, rgb(128 128 128 / 24%), rgb(0 0 0 / 52%));
    z-index: 5;
    font-family: system-ui;
    text-align: center;
    animation: Slideright ease-in 1s;
}
.hidden-description 
{
    position: relative;
    display: block;
    width: 45%;
    height: 30%;
    overflow: auto;
    padding: 20px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient( to bottom, rgb(128 128 128 / 24%), rgb(0 0 0 / 52%) );
    animation: FadeIn ease-in 1s;
}
.hidden-links 
{
    position: relative;
    display: block;
    width: fit-content;
    border-radius: 5px;
    left: 38%;
    top: 35%;
    transform: translate(-50%);
    width: 130px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    text-decoration: none;
    float: left;
    margin-left: 10px;
    animation: FadeIn ease-in 1s;
}
.youtube { background: linear-gradient(to bottom, #a71818, rgb(255 0 0)); }
.spotify { background: linear-gradient(to bottom, rgb(8 133 19), rgb(0 255 8)); }
.sound-cloud { background: linear-gradient(to bottom, #bb4c09, rgb(255 47 0)); }

.hidden-redirect 
{
    position: absolute;
    display: block;
    width: fit-content;
    width: 120px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    left: 50%;
    transform: translate(-50%);
    animation: Slideup4 ease-in 1s;
}

@keyframes Slideup 
{
    from { top: 20%; opacity: 0; }
    to { top: 10%; opacity: 1;}
}
@keyframes Slideup2
{
    from { top: 30%; opacity: 0; }
    to { top: 5%; opacity: 1;}
}
@keyframes Slideup3 
{
    from { top: 40%; opacity: 0; }
    to { top: 5%; opacity: 1;}
}
@keyframes Slideup4 
{
    from { top: 50%; opacity: 0; }
    to { top: 5%; opacity: 1;}
}
@keyframes Slideright 
{
    from { right: 15%; opacity: 0; }
    to { right: 0%; opacity: 1;}
}

@keyframes slide_right_center 
{
    from { left: 55%; }
    to { left: 50%; transform: translate(-50%, -50%)}
}

@keyframes slide_left_center 
{
    from { left: 9%; }
    to { left: 50%; transform: translate(-50%, -50%)}
}

@keyframes maximize 
{
    from { left: 50%; transform: translate(-50%, -50%); width: 30%; height: 40%; }
    to { left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; }
}

@keyframes maximizer
{
    to { left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; }
}

/* Cursor styles */
:root 
{
    --mouse-x: 50%;
    --mouse-y: 50%;
}
  
.mask 
{
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%, 0.9);
    mask: radial-gradient( circle at var(--mouse-x) var(--mouse-y), transparent 40px,black 650px);
    position: relative;
    z-index: 5;
}