body 
{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

canvas 
{
    transform: rotateZ(13deg) scale(1.2);
    display: block;
    position: absolute;
    z-index: 1;
}
